*{
	padding:0px;
	margin:0px;
	font:14px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif
}
html,body {
	width:100%;
}
body{
	position:relative;
}
a {
	text-decoration:none;
	color:inherit;
	transition: color 0.2s;
}
.title a:hover {
	color:#555;
	/*font-size:35px;*/
}
header#nav {
	transition: 0.3s;
}
div.title {
	height:200px;
	width:92%;
	float:right;
	transition: 0.3s ease;
}
div.title:hover {
	background-color:#d3d3d3;
	height:300px;
	width:95%;
}
div#esCon {
	width:70%;
	height:100%;
	margin-left: 30%;
	/*transition: transform 0.5s;*/
	/*transform:translateX(0%);*/
	overflow: visible;
}
.clear {
	clear:both;
}

.essay-enter {
	opacity: 0;
	transform: translateX(-250px);
}
.essay-enter.essay-enter-active {
	opacity: 1;
	transform: translateX(0);
	transition: 0.3s;
}
.essay-leave.essay-leave-active {
	opacity: 0;
	transform: translateX(-250px);
	transition: 0.3s;
}
.essay-appear {
	opacity: 0;
	transform: translateX(-250px);
}

.essay-appear-active {
	opacity: 1;
	transform: translateX(0);
	transition: 0.3s;
}